body {
  color: #434455;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-header {
  background-color: #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.logo-web {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.page-header-span {
  color: #2e2f42;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding: 24px 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav ul {
  display: flex;
  gap: 40px;
  padding-left: 76px;
}
nav a {
  display: block;
}
.page-header .container {
  display: flex;
  justify-content: space-between; /* логотип зліва, меню по центру, контакти справа */
  align-items: center; /* вирівнює по вертикалі */
}
.contacts {
  font-style: normal;
}
.contacts ul {
  display: flex;
  gap: 40px;
}
.contact-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  padding-top: 260px;
  max-width: 496px;
  margin: 0 auto;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-top: 48px;
  margin-bottom: 116px; */
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 48px auto 116px auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features {
  background-color: #ffffff;
}
.features .container > ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 120px 156px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}
.features-item {
  width: calc((100% - 72px) / 4);
}
/* .features-item:first-child {
  margin-left: 156px;
}
.features-item:last-child {
  margin-right: 156px;
} */
.features-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.features-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team {
  background-color: #f4f4fd;
}

.team .container ul {
  display: flex;
  gap: 24px;
}
.worker {
  padding: 32px 0;
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 72px;
  margin-bottom: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.truble-photo {
  width: 264px;
  height: 110px;
  object-fit: cover;
  object-position: top;
}
.portfolio {
  background-color: #ffffff;
  text-align: center;
}
.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  gap: 24px;
}
.portfolio-li {
  width: calc((100% - 48px) / 3);
  margin-bottom: 48px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  margin-bottom: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.frame {
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.page-footer .container {
  width: 264px;
  margin-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.page-footer .container p {
  padding-top: 16px;
}
.page-footer-span {
  color: #f4f4fd;
}
.page-footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
